/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
      font-family: "Josefin Slab", serif;
      overflow-x: hidden;

      background-image: url("./images/bcg_pattern.png");
      background-size: contain;
}

* {
      /* outline: 1px solid red; */
      margin: 0;
      padding: 0;
}

a {
      -webkit-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
}

.container {
      padding: 0px 15%;
}

a {
      text-decoration: none;
}
/* HERO */

.hero {
      min-height: 730px;

      background-color: #2b2b2b;
      position: relative;
}
.hero_img {
      position: absolute;
      width: 100%;
      max-width: 1465px;
      top: 0%;
      left: 50%;

      -webkit-transform: translate(-50%, -0%);

      -ms-transform: translate(-50%, -0%);

      transform: translate(-50%, -0%);
      pointer-events: none;

      z-index: 1;
}

header {
      margin-bottom: 200px;
}

.header_list {
      list-style-type: none;

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-pack: right;
      -ms-flex-pack: right;
      justify-content: right;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 35px;

      padding-top: 40px;
}
.header_link {
      font-size: 20px;
      font-weight: 400;
      color: #ff76bb;
}

.header_link:hover {
      color: #ffffff;
}

.hero_title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      gap: 125px;
      margin-bottom: 130px;

      font-family: "Instrument Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #ffffff;

      text-align: center;
      z-index: 100;
}

.hero_title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 70%;
      height: 40%;

      background-color: #ffffff;

      -webkit-filter: blur(300px);

      filter: blur(300px);
      opacity: 0.5;
      z-index: 2;
      pointer-events: none;
}

h1 {
      z-index: 99;
}

.hero_year {
      font-family: "Jacques Francois", serif;
      font-size: 20px;
      font-weight: 400;

      -webkit-writing-mode: vertical-lr;

      -ms-writing-mode: tb-lr;

      writing-mode: vertical-lr;
      text-align: center;
      letter-spacing: 18px;
}

.arrow {
      position: relative;
      width: 64px;
      height: 74px;

      display: block;
      margin-left: auto;
      margin-right: auto;

      cursor: pointer;

      -webkit-transition-property: -webkit-transform;

      transition-property: -webkit-transform;

      -o-transition-property: transform;

      transition-property: transform;

      transition-property: transform, -webkit-transform;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;

      z-index: 99;
}
.arrow:hover {
      -webkit-transform: scale(1.3) translateY(20px);
      -ms-transform: scale(1.3) translateY(20px);
      transform: scale(1.3) translateY(20px);
}

.hero_bottom_img {
      width: 300%;

      -webkit-transform: translateY(-2px);

      -ms-transform: translateY(-2px);

      transform: translateY(-2px);

      margin-bottom: 60px;

      -webkit-transition: -webkit-transform 0.2s ease-out;

      transition: -webkit-transform 0.2s ease-out;

      -o-transition: transform 0.2s ease-out;

      transition: transform 0.2s ease-out;

      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

/* ABOUT */
.about {
      font-style: italic;
}
h2 {
      font-style: normal;
      font-family: "Instrument Sans", sans-serif;
      font-weight: 500;
      font-size: 40px;
      line-height: 54px;

      color: #ff76bb;
}

.about_title {
      max-width: 740px;
      margin-bottom: 60px;
}

/* Lines + */
.divider {
      width: 100vw;
      border-bottom: 1px solid rgb(0, 0, 0, 0.6);
}
.line1,
.line2,
.line3 {
      margin-bottom: 60px;
}

.line2 {
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%);
}

.line4 {
      position: relative;
      left: -423px;
      width: 880px;
}
.line5 {
      margin-bottom: 40px;
}
.line7 {
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%);
}

/* Lines - */

.advantages_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      gap: 96px;

      margin-bottom: 60px;

      list-style: none;
}

.advantages_list_item {
      max-width: 290px;
}

.advantages_list_item > h3 {
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 600;
      line-height: 64px;

      color: #ff76bb;
}

.advantages_list_item > p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.02em;
}

/* MOODBOARD */
h3 {
      font-style: normal;
}

.moodboard {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 120px;

      margin-bottom: 60px;
}
.moodboard_img {
      max-width: 360px;
      max-height: 380px;
}

.moodbord_wrapper {
      max-width: 648px;
}

.moodbord_wrapper > h3 {
      font-style: normal;
      font-size: 20px;
      font-weight: 600;

      line-height: 20px;

      color: #ff76bb;

      margin-bottom: 36px;
}

.moodbord_wrapper > p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.02em;

      margin-bottom: 60px;
}

.moodboard_list {
      padding-left: 18px;

      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.02em;
}

/* PORTFOLIO */
.portfolio {
      margin-bottom: 80px;
}

.portfolio_title {
      margin-bottom: 60px;
}

.portfolio_list {
      position: relative;
      list-style-type: none;
}

.portfolio_item_title {
      font-size: 20px;
      font-weight: 600;
      line-height: 54px;
      color: #ff76bb;

      text-decoration: underline;

      margin-bottom: 10px;
}

.portfolio_list_item {
      max-width: 456px;
      margin-bottom: 60px;
}

.portfolio_list_item > p {
      font-style: italic;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;

      letter-spacing: 0.02em;

      margin-bottom: 40px;
}
.portfolio_list_item > img {
      margin-bottom: 40px;
}

.project1 {
      position: relative;
}

.project2 {
      position: absolute;

      top: 20%;
      right: 0%;
}

.project2 > img {
      margin-bottom: 40px;
}

/* FOOTER */

.contacts_title {
      margin-bottom: 40px;
}

.contacts_subtitle {
      font-size: 40px;
      font-weight: 400;
      line-height: 54px;

      letter-spacing: 0.02em;

      margin-bottom: 15px;
}

.contacts_list {
      list-style-type: none;
      margin-bottom: 60px;
}

.contacts_list_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 15px;

      font-size: 20px;
      font-weight: 400;
      line-height: 54px;

      letter-spacing: 0.02em;
}

.contacts_list_item > a {
      color: black;
}
.contacts_list_item > a:hover {
      color: #ff76bb;
}

.copy {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
}

/* ---- ADAPTIVE DESIGN ----*/

/* Small laptops */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
      .container {
            padding: 0 8%;
      }

      .hero {
            min-height: 0px;
            height: 77vh;
      }

      header {
            margin-bottom: 110px;
      }

      .hero_title {
            margin-bottom: 50px;
            gap: 0;
      }

      .hero_title > h1 {
            font-size: 64px;
      }
      .hero_year {
            font-size: 14px;
      }

      /* ABOUT */

      h2 {
            font-size: 30px;
            line-height: 30px;
      }

      .about_title {
            margin-bottom: 40px;
      }

      .advantages_list {
            gap: 0;
      }
      .advantages_list_item {
            max-width: 250px;
      }

      .advantages_list_item > h3 {
            line-height: 25px;
            font-size: 16px;
      }

      .advantages_list_item > p {
            line-height: 25px;
            font-size: 14px;
      }

      /* MOODBOARD */
      .moodbord_wrapper > h3 {
            line-height: 25px;
            font-size: 16px;
            margin-bottom: 10px;
      }

      .moodbord_wrapper > p,
      .moodboard_list {
            line-height: 25px;
            font-size: 14px;
      }

      .moodboard_img {
            max-width: 300px;
      }

      /* PORTFOLIO */

      .portfolio_title {
            margin-bottom: 40px;
      }

      .portfolio_list_item {
            max-width: 340px;
            margin-bottom: 20px;
      }

      .portfolio_list_item > img {
            margin-bottom: 20px;
            max-width: 340px;
      }

      .portfolio_item_title {
            font-size: 16px;

            margin-bottom: 20px;
            line-height: 25px;
      }

      .portfolio_list_item > p {
            line-height: 25px;
            font-size: 14px;
      }

      /* Lines + */

      .line1,
      .line2,
      .line3 {
            margin-bottom: 40px;
      }

      .line4 {
            left: -540px;
      }

      /* Lines - */

      /* CONTACTS */

      .contacts_title {
            margin-bottom: 20px;
      }

      .contacts_subtitle {
            font-size: 34px;

            line-height: 35px;
            margin-bottom: 15px;
      }

      .contacts_list_item {
            font-size: 18px;

            line-height: 40px;
      }

      .copy {
            font-size: 16px;
      }
}

@media screen and (max-height: 550px) {
      div.hero_title {
            margin-bottom: 10px;
      }
}
