body {
      font-family: "Josefin Slab", serif;
      overflow-x: hidden;

      background-image: url("./images/bcg_pattern.png");
      background-size: contain;
}

* {
      /* outline: 1px solid red; */
      margin: 0;
      padding: 0;
}

.container {
      padding: 0px 15%;
}

a {
      text-decoration: none;
}
/* HERO */

.hero {
      min-height: 730px;

      background-color: #2b2b2b;
      position: relative;
}
.hero_img {
      position: absolute;
      width: 100%;
      max-width: 1600px;
      top: 0%;
      left: 50%;

      transform: translate(-50%, -0%);
      pointer-events: none;

      z-index: 1;
}

header {
      margin-bottom: 200px;
}
.header_list {
      list-style-type: none;

      display: flex;
      justify-content: right;
      flex-wrap: wrap;
      gap: 35px;

      padding-top: 40px;
}
.header_link {
      font-size: 20px;
      font-weight: 400;
      color: #ff76bb;
}

.header_link:hover {
      color: #ffffff;
}

.hero_title {
      display: flex;
      justify-content: space-between;
      gap: 125px;
      margin-bottom: 130px;

      font-family: "Instrument Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #ffffff;

      text-align: center;
      z-index: 100;
}

.hero_title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 40%;

      background-color: #ffffff;

      filter: blur(300px);
      opacity: 0.5;
      z-index: 2;
      pointer-events: none;
}

.hero_year {
      font-family: "Jacques Francois", serif;
      font-size: 20px;
      font-weight: 400;

      writing-mode: vertical-lr;
      text-align: center;
      letter-spacing: 18px;
}

.arrow {
      width: 64px;
      height: 74px;

      display: block;
      margin-left: auto;
      margin-right: auto;

      cursor: pointer;
}

.hero_bottom_img {
      width: 300%;

      transform: translate(0px, -2px);

      margin-bottom: 60px;
}

/* ABOUT */
.about {
      font-style: italic;
}
h2 {
      font-style: normal;
      font-family: "Instrument Sans", sans-serif;
      font-weight: 500;
      font-size: 40px;
      line-height: 54px;

      color: #ff76bb;
}

.about_title {
      max-width: 740px;
      margin-bottom: 60px;
}

/* Lines + */
.divider {
      width: 100vw;
      border-bottom: 1px solid rgb(0, 0, 0, 0.6);
}
.line1,
.line2,
.line3 {
      margin-bottom: 60px;
}

.line2 {
      transform: translateX(-30%);
}

.line4 {
      position: relative;
      left: -423px;
      width: 880px;
}
.line5 {
      margin-bottom: 40px;
}
.line7 {
      transform: translateX(-30%);
}

/* Lines - */

.advantages_list {
      display: flex;
      justify-content: space-between;
      gap: 96px;

      margin-bottom: 60px;

      list-style: none;
}

.advantages_list_item {
      max-width: 290px;
}

.advantages_list_item > h3 {
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 600;
      line-height: 64px;

      color: #ff76bb;
}

.advantages_list_item > p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.02em;
}

/* MOODBOARD */

.moodboard {
      display: flex;
      gap: 120px;

      margin-bottom: 60px;
}
.moodboard_img {
      max-width: 360px;
      max-height: 380px;
}

.moodbord_wrapper {
      max-width: 648px;
}

.moodbord_wrapper > h3 {
      font-style: normal;
      font-size: 20px;
      font-weight: 600;

      line-height: 20px;

      color: #ff76bb;

      margin-bottom: 36px;
}

.moodbord_wrapper > p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.02em;

      margin-bottom: 60px;
}

.moodboard_list {
      padding-left: 18px;

      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.02em;
}

/* PORTFOLIO */
.portfolio {
      margin-bottom: 80px;
}

.portfolio_title {
      margin-bottom: 60px;
}

.portfolio_list {
      position: relative;
      list-style-type: none;
}

.portfolio_item_title {
      font-size: 20px;
      font-weight: 600;
      line-height: 54px;
      color: #ff76bb;

      text-decoration: underline;

      margin-bottom: 10px;
}

.portfolio_list_item {
      max-width: 456px;
      margin-bottom: 60px;
}

.portfolio_list_item > p {
      font-style: italic;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;

      letter-spacing: 0.02em;

      margin-bottom: 40px;
}
.portfolio_list_item > img {
      margin-bottom: 40px;
}

.project1 {
      position: relative;
}

.project2 {
      position: absolute;

      top: 20%;
      left: 70%;
}

.project2 > img {
      margin-bottom: 40px;
}

/* FOOTER */

.contacts_title {
      margin-bottom: 40px;
}

.contacts_subtitle {
      font-size: 40px;
      font-weight: 400;
      line-height: 54px;

      letter-spacing: 0.02em;

      margin-bottom: 15px;
}

.contacts_list {
      list-style-type: none;
      margin-bottom: 60px;
}

.contacts_list_item {
      display: flex;
      align-items: center;
      gap: 15px;

      font-size: 20px;
      font-weight: 400;
      line-height: 54px;

      letter-spacing: 0.02em;
}

.contacts_list_item > a {
      color: black;
}

.copy {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
}
